
{%extends 'base.html'%}
{%block title%}About us{%endblock title%}
{%block body%}
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active my-4">
      <img class="d-block w-100 " style="height:550px;width:600px" src="https://source.unsplash.com/400x300/?black" alt="First slide">
  <div class="carousel-caption d-none d-md-block">
    <h3>Suyash V. Kardile</h3>
    <p>BackEnd Developer
    <br>
    <br>
      <br>
      <a href="#" style="margin:5px;" class="fa fa-facebook"> </a>
      <a href="https://www.instagram.com/____._sk_.____/" style="margin:5px;" class="fa fa-instagram"></a>
    </p>
  </div>
</div>
    <div class="carousel-item my-4">
      <img class="d-block w-100" style="height:550px;width:600px;" src="https://source.unsplash.com/400x300/?black" alt="Second slide">
  <div class="carousel-caption d-none d-md-block">
    <h3>Omkar R. Ghorpade</h3>
    <p>FrontEnd Developer
    <br>
    <br>
      <br>
      <a href="#" style="margin:5px;" class="fa fa-facebook"> </a>
      <a href="https://www.instagram.com/mr.rey_07/" style="margin:5px;" class="fa fa-instagram"></a>
    </p>
  </div>
    </div>
    <div class="carousel-item my-4">
      <img class="d-block w-100" style="height:550px;width:600px;" src="https://source.unsplash.com/400x300/?black" alt="Third slide">
  <div class="carousel-caption d-none d-md-block">
    <h3>Akshay D. Margale</h3>
    <p>Full Stack Web Developer
    <br>
    <br>
      <br>
      <a href="#" style="margin:5px;" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/__mark_1__/" style="margin:5px;" class="fa fa-instagram"></a>
    </p>
  </div>
</div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </div>

{%endblock body%}