{%extends 'base.html'%}
{%block title%}Admin{%endblock title%}
{%block body%}
<h1>Welcome Sir...</h1>
<div class="container">
    <!DOCTYPE html>
<html>
<head>
<style>
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
</style>
</head>
<br>
<details>
  <summary>ADD NEWS</summary>
   <form method="post" action="addnews">
       {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">News Title</label>
    <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Enter news title here...">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content of News</label>
    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" placeholder="Enter news content here..." rows="3"></textarea>
  </div>
<!--  <div class="form-group">-->
<!--    <label for="exampleFormControlInput2">News Url</label>-->
<!--    <input type="email" class="form-control" name="url" id="exampleFormControlInput2" placeholder="Paste news link here...">-->
<!--  </div>-->
     <button type="submit" class="btn btn-success">ADD</button>
</form>
</details>
<br>
<details>
  <summary>ADD DISEASE INFORMATION</summary>
   <form method="post" action="adddisease">
       {% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput3">Name of Disease</label>
    <input type="text" class="form-control" name="name" id="exampleFormControlInput3">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea4">Overview</label>
    <textarea class="form-control" name="overview" id="exampleFormControlTextarea4" rows="3">
    </textarea>
  </div>
     <div class="form-group">
    <label for="exampleFormControlTextarea5">Symptoms</label>
    <textarea class="form-control" name="symptoms" id="exampleFormControlTextarea5" rows="3">
    </textarea>
  </div>
     <div class="form-group">
    <label for="exampleFormControlTextarea6">Risks</label>
    <textarea class="form-control" name="risk" id="exampleFormControlTextarea6" rows="3">
    </textarea>
  </div>
     <div class="form-group">
    <label for="exampleFormControlTextarea7">Causes</label>
    <textarea class="form-control" name="causes" id="exampleFormControlTextarea7" rows="3">
    </textarea>
  </div>
     <div class="form-group">
    <label for="exampleFormControlTextarea8">Preventions</label>
    <textarea class="form-control" name="prev" id="exampleFormControlTextarea8" rows="3">
    </textarea>
  </div>
     <div>
       <label for="exampleFormControlTextarea8">Image</label>
<input type="file" id="myFile" name="img">
  <input type="submit">
       </div>
     <div>
     <button type="submit" class="btn btn-success">ADD</button>
       </div>
</form>
</details>

<br>
<strong>Recent messages</strong>
{%for reccont in recentcontacts%}
<p>
    from : {{reccont.name}}
    <br>
        {{reccont.msg}}

</p>
{%endfor%}


</body>
</html>

</div>
{%endblock body%}