{%extends 'base.html'%}
{%block title%}Skin diseases{%endblock title%}
{%block body%}
<div class="container my-4">
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary my-4 mx-4"><a href="/search?query=cancer">Cancer</a></button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Eczema</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Psoriasis</button>
</div>
    <br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Acne</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Rosacea</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Ichthyosis</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Vitiligo</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Hives</button>

</div>
    <br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Actinic keratosis</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Carbuncle</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Latex allergy</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Cellulitis</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Measles</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Basal cell carcinoma
</button>
</div>
</div>

{%endblock body%}