{%extends 'base.html'%}
{%block title%}Brain diseases{%endblock title%}
{%block body%}
<div class="container my-4">
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Dementias</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Brain Cancer</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4"><a href="/search?query=Alzheimer">Alzheimer</a></button>
</div>
    <br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Parkinson</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Cerebral arteriosclerosis</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Diffuse sclerosis
</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Dyslexia</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Febrile seizures</button>

</div>
    <br>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Actinic keratosis</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Carbuncle</button>
  <button type="button" class="btn btn-outline-primary my-4 mx-4">Latex allergy</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Cellulitis</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Measles</button>
    <button type="button" class="btn btn-outline-primary my-4 mx-4">Basal cell carcinoma
</button>
</div>
</div>

{%endblock body%}