{%extends 'base.html'%}
{%block title%}What is a Disease?
{%endblock title%}
{%block body%}
<div class="container my-4">
    <h1>What is a Disease?</h1>
    <p>
        A disease is a particular abnormal condition that negatively affects the structure or function of all or part of
        an organism, and that is not due to any immediate external injury.Diseases are often known to be medical conditions
        that are associated with specific symptoms and signs.A disease may be caused by external factors such as pathogens
        or by internal dysfunctions.
    </p>
</div>
{%endblock body%}